*.*~
/TeclaSocket/dist/
/TeclaTest/dist/
/emulator/TeclaEmulator/nbproject/private/
/emulator/TeclaEmulator/build/
/emulator/TeclaEmulator/dist/
/TeclaDesktop/nbproject/private/
/TeclaDesktop/build/
/TeclaSocket/build/

/TestGUI/nbproject/private/
/TestGUI/build/
/TeclaDesktop/dist/
/Desktop/nbproject/private/
/Socket/nbproject/private/
/Socket/build/
/Socket/dist/
/Desktop/build/
/Test/nbproject/private/
/Test/build/
/Test/dist/