<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ca.idi.tekla"
	android:versionCode="3"
	android:versionName="0.2-alpha"
	>
	<application
    	android:label="@string/english_ime_name" android:icon="@drawable/tekla_icon" android:debuggable="false">
		<service
			android:name=".ime.TeklaIME"
			android:label="@string/english_ime_name"
			android:permission="android.permission.BIND_INPUT_METHOD"
			>
			<intent-filter>
				<action android:name="android.view.InputMethod" />
			</intent-filter>
			<meta-data
				android:name="android.view.im"
				android:resource="@xml/method" />
		</service>
		<service
			android:name=".sep.SwitchEventProvider"
			android:enabled="true">
			<intent-filter>
				<action android:name="ca.idi.tekla.sep.SEPService" />
			</intent-filter>
		</service>
		<activity
			android:name="TeklaIMESettings"
			android:label="@string/english_ime_settings"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>    
    </application>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
	<uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-sdk android:minSdkVersion="5"></uses-sdk>

</manifest>
